* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

form {
    margin-top: 30px;
}

.form-campo {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-weight: bold;
}

form input {
    padding: 2px;
}

#btn-enviar {
    width: 60px;
    height: 30px;
    background-color: rgba(12, 145, 12, 0.815);
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

#btn-enviar:hover {
    opacity: 0.8;
}

.msg-red {
    color: rgba(255, 0, 0, 0.74);
}