@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* CABEÇALHO */

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #011626;
}

.cabecalho-titulo {
    color: #91EC00;
}

a {
    color: white;
    padding-left: 10px;
    font-size: 20px;
}

a:hover {
    color: #91EC00;
}

/* CONTEUDO */

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(1, 22, 38, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

/* CONTEUDO ESPORTS */

.container-esports-titulo {
    padding: 30px 0;
    text-align: center;
    font-size: 32px;
}

.container-esports-artigos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.container-esports-item {
    width: 400px;
}

img {
    width: 100%;
}

.container-esports-item h2 {
    padding-bottom: 10px;
}

.container-esports-item p {
    padding-bottom: 20px;
}

#botao-mais {
    background-color: #011626;
    padding: 10px;
    color: #91EC00;
    font-size: 18px;
}

#botao-mais:hover {
    background-color: rgba(1, 22, 38, 0.1);
    color: #011626;
    text-decoration: underline;
}

/* CONTEUDO TECNOLOGIA */

.container-tec-titulo {
    font-size: 32px;
    text-align: center;
    padding: 30px 0;
}

.container-tec-artigos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.container-tec-item {
    width: 400px;
}

.container-tec-item h2 {
    padding-bottom: 10px;
}

.container-tec-item p {
    padding-bottom: 20px;
}

/* RODAPE */

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    color: #011626;
    font-size: 14px;
}

.rodape a {
    color: #011626;
    font-size: 14px;
}

.rodape a:hover {
    text-decoration: underline;
}